 body {
    text-align: center;
    background-color: #0d6aa8;
}

h1 {
    font-size: 5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: 3px 0 palevioletred;
}

footer {
    color: antiquewhite;
    font-family: sans-serif;
}

.w {
    background-image: url("images/tom1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.a {
    background-image: url("images/tom2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.s {
    background-image: url("images/tom3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.d {
    background-image: url("images/tom4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.j {
    background-image: url("images/snare.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.k {
    background-image: url("images/crash.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.l {
    background-image: url("images/kick.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.set {
    margin: 10% auto;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.drum {
    outline: none;
    border: 3px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}

@media only screen and (max-width: 800px) {
    body {

        background-image: linear-gradient(to right, #95def5, #50A7C2);
    }

    h1 {
        font-size: 3rem;
    }
}
